.setPrimaryColor{
  color: $primary-color;
};
.setSecondaryColor{
  color: $secondary-color
};
.setTernaryColor{
  color: $ternary-color
};
.setQuaternaryColor{
  color: $quaternary-color
};
.fontWhite {
  color: #FFFFFF !important;
}
.setPrimaryBGColor{
  background-color: $primary-color !important;
};
.setSecondaryBGColor{
  background-color: $secondary-color !important;
};