/*Custom application variables, Please do not include any structural rules*/
/*For primary color*/
$primary-color : #F38181;
$secondary-color : #95E1D3;
$ternary-color : #EAFFD0;
$quaternary-color : #FCE38A;